body {
    background-color: hsl(204, 43%, 93%);
    margin: 0;
    position: relative;
}

button {
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
    font-size: 1.2em;
    width: 100%;
    padding: 5%;
    margin-top: 5%;
    border-radius: 10px;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

h2 {
    color: hsl(179, 62%, 43%);
}

main {
    width: 45%;
    margin: auto;
    margin-top: 7%;
}

.amount {
    position: relative;
}

.big {
    font-size: 2em;
    font-weight: bold;
}

.bottom {
    color: white;
    display: flex;
}

.left {
    background-color: hsl(179, 62%, 43%);
    padding: 2% 5% 5% 9%;
    display: inline-block;
    width: 50%;
    border-bottom-left-radius: 10px;
}

.right {
    background-color: hsla(179, 62%, 43%, 0.699);
    padding: 2% 5% 5% 9%;
    display: inline-block;
    width: 50%;
    border-bottom-right-radius: 10px;
}

.para {
    font-size: 0.9em;
    margin-top: 1.3em;
    color: hsl(204, 43%, 93%);
}

.para>p {
    margin: 0.4em 0;
}

.small {
    color: hsl(218, 22%, 67%);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10px;
}

.top {
    margin-top: 10%;
    background-color: white;
    padding: 2% 5% 5% 9%;
    border-radius: 10px 10px 0 0;
}

.top>h3 {
    color: hsl(71, 73%, 54%);
}

.top>p {
    color: hsl(218, 22%, 67%);
    line-height: 1.5em;
}

@media screen and (max-width:700px) {
    main {
        width: 80%;
        margin: auto;
    }

    .bottom {
        display: block;
    }

    .left {
        width: 90%;
        border-radius: 0;
        padding-bottom: 10%;
    }

    .right {
        width: 90%;
        border-radius: 0 0 10px 10px;
        padding-bottom: 10%;
    }

    .top {
        width: 90%;
    }
}